  .path{
    stroke-dasharray:850 ;
    stroke-dashoffset: 0;
    animation: dash 4s linear;
    stroke: greenyellow;
    fill:none;
    fill-rule:evenodd;
    stroke-width:4;
  }

  .path-red {
    stroke: red !important
  }
  @keyframes dash{
    from{ stroke-dashoffset: 850;}
    to{ stroke-dashoffset: 0;}
  }